; This configuration file overrides the default values specified
; in /usr/local/share/openalpr/config/alprd.defaults.conf
[daemon]

stream = {{ alprd_stream }}
{% if alprd_roi | length > 0 %}
roi = {{ alprd_roi }}
{% endif %}

country = gb
site_id = gate

store_plates = 1
store_plates_location = /home/pi/plates
